# Compilacao Delphi
Win32/
Win64/
OSX32/
Android/
iOSDevice/
iOSSimulator/
Linux64/
__history/
__recovery/
__astcache/
*.dcu
*.dcp
*.bpl
*.bpi
*.lib
*.obj
*.o
*.exe
*.rsm
*.map
*.drc
*.tds
*.ilc
*.ild
*.ilf
*.ils
*.apk
*.ipa

# Arquivos da IDE (nao versionar)
*.local
*.identcache
*.dsk
*.skincfg
*.tvsconfig
*.vlb
*.groupproj.local
*.dproj.local
*.~*
*.bak
*.mes
.delphiorm

# Banco local gerado pelo criar_banco.bat
*.fdb
src/Database/*.FDB

